@import "null.css";

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

body {
	font-family: "Roboto", "sens-serif";
	font-weight: 400;
	overflow-x: hidden;
	font-style: normal;
	font-size: 16px;
}

.wrapper {
	/* overflow: hidden; */
	min-height: 100%;
}

.homepage-top {
}
.homepage-top__bg {
	background: url("../img/BG\ Image.png") center / cover no-repeat;
	width: 100%;
	min-height: 550px;
	/* margin-top: -572px; */
}

.who-we-are {
	background: #5d62b5;
	border-radius: 40px;
	max-width: 1020px;
	margin: 0 auto;
}
.who-we-are__container {
	max-width: 846px;
	margin: 0 auto;
	position: relative;
	height: 720px;
}

.who-we-are__container_margin {
	margin-top: -102px;
}
.who-we-are__circles {
}
.who-we-are__circles::after {
	content: "";
	background: url("../img/Stylize Circles.svg") 0 0;
	width: 201px;
	height: 317px;
	position: absolute;
	top: -109px;
	right: -161px;
}
.who-we-are__block-header {
}
.block-header {
}
.block-header__sub-title {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #f5f5f5;
	padding: 100px 0 0 33px;
	position: relative;
	background: url("../img/icon__header.svg") -2px 98px no-repeat;
}
/* 
.block-header__sub-title::before {
	content: "";
	background: url("/img/icon__header.svg") 0 0 no-repeat;
	width: 17px;
	height: 20px;
	position: absolute;
	top: 100px;
	left: 0;
} */

.block-header__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	color: #ffffff;
	padding: 33px 0 0 0;
	max-width: 583px;
}
.who-we-are__block-text {
	letter-spacing: 0.15px;
	line-height: 1.5;
	color: #f5f5f5;
	margin-top: 36px;
	margin-bottom: 54px;
}
.who-we-are__blob {
	background: url("../img/Blob__purple.png") 0 0 no-repeat;
	width: 100%;
	height: 591px;
	position: absolute;
	top: 257px;
	left: -102px;
}

/* .who-we-are__blob::after {
	content: "";
	background: url("/img/Blob__purple.png") 0 0 no-repeat;
	width: 665px;
	height: 591px;
	position: absolute;
	top: 326px;
	left: 0;
	z-index: 0;
} */
.who-we-are__picture {
	/* z-index: 99; */
	/* width: 100%;
	border-radius: 40px; */
	position: relative;
	z-index: 10;
}

.who-we-are__image {
	max-width: 100%;
	border-radius: 40px;
	margin-bottom: 100px;
}
